<a href="{{path('kristiana.mombamomba', {'id': kristiana.id, "page": type})}}" id="{{kristiana.id}}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip"
    data-original-title="Show"><i class="icon wb-info-circle" aria-hidden="true"></i></a>
<a href="{{path("kristiana.hanavao", {'id': kristiana.id, "page": type})}}" id="{{kristiana.id}}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip"
    data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
<a id="{{kristiana.id}}" class="btnDeleteKristiana btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip"
    data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>